<h2>新規投稿</h2>
<%= form_with model: @post, data: { turbo: false } do |f| %>
  <%= f.text_field :body %>
  <%= f.submit '投稿する' %>
<% end %>

<h2>投稿一覧</h2>
<% @posts.each do |post| %>
  <div>
    <%= post.body %>
    <%= post.created_at %>
    <%= button_to "削除", post_path(post), data: { turbo: false }, method: :delete %>
  </div>
<% end %>
