<h2>新規投稿</h2>
<%= form_with model: @post do |f| %>
  <%= f.text_field :body %>
  <%= f.submit '投稿する' %>
<% end %>

<h2>投稿一覧</h2>
<% @posts.each do |post| %>
  <div>
    <%= post.body %>
    <%= post.created_at %>
    <%= link_to "詳細", post_path(post) %>
    <% if post.user_id === current_user.id %>
      <%= link_to "削除", post_path(post), data: { turbo_method: :delete } %>
    <% end %>
  </div>
<% end %>
